/* VARIABLES */

:root{
    --main-title-color : #5F6C37;
    --main-text-color : #363D1E;
    --main-nav-color : #424B25;
    --main-btn-color : #EAA34D;
    --main-bg-color : #FFFDF5;
    --main-font-size : 16px;
    --main-font-weight : 400;
    
  }
  /* ? /////////////////////////////////////////////////////// */

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/quicksand-v29-latin-regular.woff') format('woff');
}
/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/quicksand-v29-latin-500.woff2') format('woff2'), 
       url('../fonts/quicksand-v29-latin-500.woff') format('woff'); 
}
/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/quicksand-v29-latin-600.woff2') format('woff2'), 
       url('../fonts/quicksand-v29-latin-600.woff') format('woff');
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand-v29-latin-700.woff2') format('woff2'),
       url('../fonts/quicksand-v29-latin-700.woff') format('woff'); 
}
/* ! /////////////////////////////////////////////////////////////////////*/

/* old-standard-tt-regular - latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/old-standard-tt-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/old-standard-tt-v18-latin-regular.woff') format('woff');
}
/* old-standard-tt-700 - latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/old-standard-tt-v18-latin-700.woff2') format('woff2'), 
       url('../fonts/old-standard-tt-v18-latin-700.woff') format('woff');
}
/* TODO: /////////////////////////////////////////////////////////////////////// */

/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'), 
       url('../fonts/abril-fatface-v19-latin-regular.woff') format('woff'); 
}

  /* GENERAL */
  *{
    box-sizing: border-box;
  }
  html{
    height: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  img{
    display: block;
    height: auto;
  }
  
  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* CONTAINER */
  
  .container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* STICKY-FOOTER */
  .site-main{
    flex-grow: 1;
  }
  
  .zba-hero {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 762px) calc(50% - 228px);;
  }
  .zba-pear {
    width: 471px;
    padding: 282px 0 295px 0;
  }
  .zba-pear__new {
    padding: 10px;
    font-family: 'Old Standard TT';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-nav-color);
    background-color: #F9DE80;
  }
  .zba-pear__title {
    margin: 10px 0 16px 0;
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: 0.01em;
    
    color: #5F6C37;
  }
  .zba-pear__text {
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    line-height: 156.5%;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
  }
  .zba-pear__btn {
    margin: 42px 0 0 0;
    padding: 12px 40px;
    background-color: var(--main-title-color);
border-radius: 8px;
font-family: 'Quicksand';
font-weight: 700;
font-size: 16px;
line-height: 97.9%;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #FFFFFF;
border: 2px solid transparent;
transition: all 0.3s linear;
  }
  .zba-pear__btn:hover {
    background-color: transparent;
    border: 2px solid #5F6C37;
    color:var(--main-title-color);
  }
  .zba-blog {
    padding: 98px 0 102px 0;
  }
  .zba-blog__title {
    text-align: center;
    font-family: 'Abril Fatface';
font-weight: 400;
font-size: 50px;
line-height: 97.9%;
letter-spacing: 0.01em;
color: var(--main-title-color);
  }
  .zba-blog__list {
    display: flex;
    justify-content: space-between;
  }
  .zba-list-item  {
    width: 371px;
    box-shadow: 0px 4px 8px #0000001a;
    border-radius: 8px;
  }
  .zba-list-item img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .zba-blog__content {
    padding: 22px 23px;
  }
  .zba-content__title {
    margin: 0;
    padding: 0 0 12px 0;
    font-family: 'Old Standard TT';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--main-title-color);
    border-bottom: 1.13px solid  #CCDB99;
  }
  .zba-content__text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #242914;
    margin: 22px 0 0 0;
  }
  .zba-blog__btn {
    text-align: center;
    padding: 12px 90px;
    font-family: 'Quicksand';
font-weight: 700;
font-size: 16px;
line-height: 97.9%;
letter-spacing: 0.01em;
text-transform: uppercase;
color: var(--main-title-color);
border: 2px solid #5F6C37;
border-radius: 8px;
transition: all 0.3s linear;
  }
  .zba-blog__btn:hover  {
    background-color: var(--main-title-color);
    color:#fff;
  }
  .zba-blod_btn-group {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }